/* Main stylesheet for "joemcrainbow.github.io/start" */

/* Code for the entire site, primarily background effects */
body{
    font-family: 'Josefin Sans';
    background-image: url(bg.png);
}

/* Text Effects */
.title-text{
    font-size: 48px;
    color: maroon;
    text-align: center;
    font-family: 'Oswald';
}
.center-underline-title{
    text-align: center;
    text-decoration: underline;
    color: maroon;
    font-family: Oswald;
}
.maroon{
    color: maroon;
}
.center-link{
    text-align: center;
}
a{
color: maroon;
font-family: 'Josefin Sans';
}

/* Borders, Boxes, and Tables */

.dirrow{
    padding: 2%;  
}
.iframe{
    border-style: solid;
    border-width: 2px;
    padding: 5px;
}
.title{
    margin: 10px;
    padding: 2%;
    border-style: dashed;
    border-width: 15px;
    border-radius: 15px;
    background-color: antiquewhite;
}
.quick-links{
    margin: 10px;
    padding: 2%;
    border-style: solid;
    border-color: black;
    border-width: 15px;
    border-radius: 15px;
    background-color: antiquewhite;
}
.quick-links-noback{
    margin: 5%;
    padding: 2%;
    border-style: solid;
    border-color: black;
    border-width: 15px;
    border-radius: 15px;
    background-color: white;

}
.table{
    margin: 5%;
    padding: 2%;
    border-style: solid;
    border-color: black;
    border-width: 15px;
    border-radius: 15px;
    background-color: antiquewhite;
    text-align: center;
}
table.center{
    margin-left: auto;
    margin-right: auto
}
table, th, td{
    border-width: 1px;
    border-style: solid;
    border-color: maroon;
}
table{
    background-color: maroon;
}
th, td{
    background-color: antiquewhite;
}

/* Image Properties */

.gitlogo{
    width: 20px;
    height: 15px;
}
.tetris-gp{
    width: 100px;
    height: 100px;
}
.14px{
    font-size: 14px;
}
.center{
    text-align: center;   
}
/* 
W3schools Code for Home Page: 
DO NOT ADD CSS PAST THIS POINT.
Credit for this code: w3schools
*/

* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: auto; 
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: #aaa;
    min-height: 170px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* The sidebar menu */
.sidenav {
height: 100%; /* Full-height: remove this if you want "auto" height */
width: 180px; /* Set the width of the sidebar */
position: fixed; /* Fixed Sidebar (stay in place on scroll) */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
left: 0;
background-color: #111; /* Black */
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 20px;
}

.sidenav a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
color: #f1f1f1;
}

/* Style page content */
.main {
margin-left: 190px; /* Same as the width of the sidebar */
padding: 0px 10px;
margin-top: 17px;
z-index: 10000000
}

.main.vertical{
    vertical-align: middle;   
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
.rounded{
border-radius: 50%;
width: 90px;
height: 90px;
margin-left: 25px;
margin-right: 45px;
margin-top: 17px;
margin-bottom: 17px;
}
