/* Main stylesheet for "joemcrainbow.github.io/start" */

/* Code for the entire site, primarily background effects */
body{
    background-color: maroon;
    font-family: 'Josefin Sans';
}

/* Text Effects */
.title-text{
    font-size: 48px;
    color: maroon;
    text-align: center;
    font-family: 'Oswald';
}
.center-underline-title{
    text-align: center;
    text-decoration: underline;
    color: maroon;
    font-family: Oswald;
}
.maroon{
    color: maroon;
}
.center-link{
    text-align: center;
}
a{
  color: maroon;
  font-family: 'Josefin Sans';
}

/* Borders, Boxes, and Tables */

.iframe{
    border-style: solid;
    border-width: 2px;
    padding: 5px;
}
.title{
    margin: 5%;
    padding: 2%;
    border-style: dashed;
    border-width: 15px;
    border-radius: 15px;
    background-color: antiquewhite;
}
.quick-links{
    margin: 5%;
    padding: 2%;
    border-style: solid;
    border-color: black;
    border-width: 15px;
    border-radius: 15px;
    background-color: antiquewhite;
}
.quick-links-noback{
    margin: 5%;
    padding: 2%;
    border-style: solid;
    border-color: black;
    border-width: 15px;
    border-radius: 15px;
    background-color: white;
    
}
.table{
    margin: 5%;
    padding: 2%;
    border-style: solid;
    border-color: black;
    border-width: 15px;
    border-radius: 15px;
    background-color: antiquewhite;
    text-align: center;
}
table.center{
    margin-left: auto;
    margin-right: auto
}
table, th, td{
    border-width: 1px;
    border-style: solid;
    border-color: maroon;
}
table{
    background-color: maroon;
}
th, td{
    background-color: antiquewhite;
}

/* Image Properties */

.gitlogo{
    width: 50px;
    height: 50px;
}

/* 
   W3schools Code for Home Page: 
   DO NOT ADD CSS PAST THIS POINT.
   Credit for this code: w3schools
*/

* {
    box-sizing: border-box;
}
.column1 {
    float: left;
    width: 25%;
    padding: 10px;
    height: auto; 
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: #aaa;
}
.column2 {
    float: left;
    width: 25%;
    padding: 10px;
    height: auto;
    border-style: solid;
    border-color: black;
    border-width: 2px; 
    background-color: #aaa;
}
.column3 {
    float: left;
    width: 25%;
    padding: 10px;
    height: auto;
    border-style: solid;
    border-color: black;
    border-width: 2px; 
    background-color: #aaa;
}
.column4 {
    float: left;
    width: 25%;
    padding: 10px;
    height: auto;
    border-style: solid;
    border-color: black;
    border-width: 2px; 
    background-color: #aaa;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Add a black background color to the top navigation */
.topnav {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: #333;
  overflow: hidden;
  margin: 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: antiquewhite;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #660000;
  color: white;
}
