/* Updated Styles for "joemcrainbow.github.io" */

/*
TO-DOS:
  * Add @media CSS for smaller screens
    ---> "@media only screen and (max-width: 600px) {
            body {
              <something>
            }
          }
  * Check for spaghetti code
*/

/* BEGINNING CSS - NO COMMENTS AFTER THIS POINT */


a {
  color: rgb(81, 9, 99);
  font-family: Josefin Sans;
}
body {
  font-family: 'Josefin Sans';
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.center {
  text-align: center
}
.center-underline-title {
  text-align: center;
  text-decoration: underline;
  color: rgb(81, 9, 99);
  font-family: Josefin Sans;
}
.dirrow{
    padding: 2%;
}
.gitlogo{
    width: 20px;
    height: 15px;
}
.maroon {
  color: rgb(81, 9, 99);
}
.quick-links{
    margin: 10px;
    padding: 2%;
    border-style: solid;
    border-color: black;
    border-width: 15px;
    border-radius: 15px;
    background-color: antiquewhite;
}
.quick-links-noback{
    margin: 5%;
    padding: 2%;
    border-style: solid;
    border-color: black;
    border-width: 15px;
    border-radius: 15px;
    background-color: white;
}
.table{
    margin: 5%;
    padding: 2%;
    border-style: solid;
    border-color: black;
    border-width: 15px;
    border-radius: 15px;
    background-color: antiquewhite;
    text-align: center;
}
table{
    background-color: rgb(81, 9, 99);
}
table.center{
    margin-left: auto;
    margin-right: auto
}
table, th, td{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(81, 9, 99);
}
.tetris-gp{
    width: 100px;
    height: 100px;
}
th, td{
    background-color: antiquewhite;
}
.title{
    margin: 10px;
    padding: 2%;
    border-style: dashed;
    border-width: 15px;
    border-radius: 15px;
    background-color: antiquewhite;
}
.title-text {
  font-size: 48px;
  color: rgb(81, 9, 99);
  text-align: center;
  font-family: Josefin Sans;
}
.subtitle-text{
    font-size: 18px;
    color: rgb(81, 9, 99);
    text-align: center;
    font-family: Josefin Sans;
}
.homelinks-wrapper{
  min-height: 400px;
  height: auto;
}
#button-tos{
    background-color: rgb(81, 9, 99);
    border-radius: 10px;
    height: 40px;
    width: 150px;
    color: antiquewhite;
    font-family: 'Josefin Sans';
    font-size: 16px;
    border-width: 0;
}
#button-aup{
    background-color: rgb(81, 9, 99);
    border-radius: 10px;
    height: 40px;
    width: 250px;
    color: antiquewhite;
    font-family: 'Josefin Sans';
    font-size: 16px;
    border-width: 0;
}


/*
W3schools Code for Home Page:
DO NOT ADD CSS PAST THIS POINT.
Credit for this code: w3schools
*/

* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 275px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: #aaa;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
width: 180px; /* Set the width of the sidebar */
position: fixed; /* Fixed Sidebar (stay in place on scroll) */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
left: 0;
background-color: #111; /* Black */
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 20px;
}

.sidenav a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
color: #f1f1f1;
}

/* Style page content */
.main {
margin-left: 190px; /* Same as the width of the sidebar */
padding: 0px 10px;
margin-top: 17px;
z-index: 10000000
}

.main.vertical{
    vertical-align: middle;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
.rounded{
border-radius: 50%;
width: 90px;
height: 90px;
margin-left: 25px;
margin-right: 45px;
margin-top: 17px;
margin-bottom: 17px;
}
@media only screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
