@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
*{
    margin:0;
    padding:0;
    font-family:'Fredoka One';
    color: white;
    font-size:36px;
}

.clock{
    text-align:center;
    width:auto;
    height:auto;
}
